{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h1 class="display-4">Alarma Apagada</h1>
    
    <img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fst2.depositphotos.com%2F1742172%2F5691%2Fv%2F450%2Fdepositphotos_56917367-stock-illustration-cartoon-off-button.jpg&f=1&nofb=1'
      class="img-fluid", height="200", width="200">
    
    <button type="button" class="btn btn-light">
      <a href="{{ url_for('encender_alarma') }}">Encender Alarma</a>
    </button>
    <button type="button" class="btn btn-light">
      <a href="{{ url_for('apagar_alarma') }}">Apagar Alarma</a>
    </button>
  </center>
</div>
{% endblock %}
