{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h1 class="display-4">Baño</h1>
  
    <img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fst2.depositphotos.com%2F5590000%2F11978%2Fv%2F950%2Fdepositphotos_119786694-stock-illustration-cartoon-vector-illustration-interior-lamp.jpg&f=1&nofb=1'
        class="img-fluid", height="300", width="300">
  
    <button type="button" class="btn btn-light">
      <a href="{{ url_for('encender_ba') }}">Encender Lampara</a>
    </button>
    <button type="button" class="btn btn-light">
      <a href="{{ url_for('apagar_ba') }}">Apagar Lampara</a>
    </button>
  </center>
</div>
{% endblock %}
