{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <center>
    <h1 class="display-4">Proyecto Tercer Parcial</h1>
    <h1 class="display-4">Control de una Casa Domótica</h1>
    <p class="lead">Alumno: Erick Antonio Estrada Vargas 17110079 8°M</p>
    <p class="lead">Prosefor: Jose Francisco Perez Reyes</p>
    <p class="lead">Materia: Tecnologías Emergentes</p>
  
    <img src='https://tonala.ceti.mx/portal/default/public/img/medios/Logo_ceti_solido.png'
       class="img-fluid", height="800", width="800">
  </center>
</div>
{% endblock %}
